# Exercise #1

1. Create a two dimensional array populated with the numbers 0 to 63. The array should have a shape of 4 rows and 16 columns.

In [ ]:
# Step 1 Solution Here

2. Using the array created in the previous step, display the following:

- Element Data Type
- Number of Dimensions
- Shape
- Element Count
- Item Size in Bytes
- Array Size in Bytes

In [ ]:
# Step 2 Solution Here

3. Subtract 10 from each element through a one-line subtraction operation.

In [ ]:
# Step 3 Solution Here

4. Multiply all even values with a -1.

In [ ]:
# Step 4 Solution Here

5. Replace all negative numbers with the NaN value. You may need to change data type.

In [ ]:
# Step 5 Solution

6. Transform the 2d array into a 1d array. Drop all of the NaN values.

In [ ]:
# Step 6 Solution